In [1]:
import pandas as pd
import mysql.connector

In [2]:
df = pd.read_csv("E:/\practice data sets/Mental Health/mental_health_dataset.csv")

In [3]:
df.head(10)

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High
5,38,Female,Unemployed,On-site,Yes,Yes,3,9.9,3,17,9,63,69.3,Medium
6,56,Non-binary,Employed,Remote,No,Yes,2,5.5,1,25,3,87,63.1,Medium
7,36,Male,Student,Remote,No,No,8,7.1,5,25,8,72,58.4,Medium
8,40,Male,Employed,Hybrid,No,No,7,6.5,6,28,6,46,60.4,Medium
9,28,Female,Employed,Remote,No,No,8,3.1,0,7,18,88,93.2,Medium

In [7]:
con = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='sri123',
    database='mental_health'
    
)

cursor = con.cursor()
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001953231ED50>

In [8]:
for _,row in df.iterrows():
    cursor.execute(""" 
    INSERT INTO employee_mental_health(`age`, `gender`, `employment_status`, `work_environment`, `mental_health_history`, `seeks_treatment`, 
    `stress_level`, `sleep_hours`, `physical_activity_days`, `depression_score`, `anxiety_score`, `social_support_score`, `productivity_score`,
    `mental_health_risk`)
    VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
    """,tuple(row))

print(df.head())

   age      gender employment_status work_environment mental_health_history  \
0   56        Male          Employed          On-site                   Yes
1   46      Female           Student          On-site                    No
2   32      Female          Employed          On-site                   Yes
3   60  Non-binary     Self-employed          On-site                    No
4   25      Female     Self-employed          On-site                   Yes

  seeks_treatment  stress_level  sleep_hours  physical_activity_days  \
0             Yes             6          6.2                       3
1             Yes            10          9.0                       4
2              No             7          7.7                       2
3              No             4          4.5                       4
4             Yes             3          5.4                       0

   depression_score  anxiety_score  social_support_score  productivity_score  \
0                28             17                    54                59.7
1                30             11                    85                54.9
2                24              7                    62                61.3
3                 6              0                    95                97.0
4                24             12                    70                69.0

  mental_health_risk
0               High
1               High
2             Medium
3                Low
4               High

In [9]:
con.commit()

In [10]:
con.close()